<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[88]</key>
	<string>88_thumb.gif</string>
	<key>[angrya]</key>
	<string>angrya_thumb.gif</string>
	<key>[bba]</key>
	<string>bba_thumb.gif</string>
	<key>[bingo]</key>
	<string>bingo_thumb.gif</string>
	<key>[bobotiaopi]</key>
	<string>bobotiaopi_thumb.gif</string>
	<key>[bs]</key>
	<string>bs_thumb.gif</string>
	<key>[bz]</key>
	<string>bz_thumb.gif</string>
	<key>[cake]</key>
	<string>cake.gif</string>
	<key>[chrishat]</key>
	<string>chrishat_thumb.gif</string>
	<key>[christree]</key>
	<string>christree_thumb.gif</string>
	<key>[cj]</key>
	<string>cj_thumb.gif</string>
	<key>[come]</key>
	<string>come_thumb.gif</string>
	<key>[cool]</key>
	<string>cool_thumb.gif</string>
	<key>[crazya]</key>
	<string>crazya_thumb.gif</string>
	<key>[cry]</key>
	<string>cry.gif</string>
	<key>[cza]</key>
	<string>cza_thumb.gif</string>
	<key>[d]</key>
	<string>d_thumb.gif</string>
	<key>[fn]</key>
	<string>fn_thumb.gif</string>
	<key>[fuyun]</key>
	<string>fuyun_thumb.gif</string>
	<key>[ggeili]</key>
	<string>geili_thumb.gif</string>
	<key>[good]</key>
	<string>good_thumb.gif</string>
	<key>[gza]</key>
	<string>gza_thumb.gif</string>
	<key>[h]</key>
	<string>h_thumb.gif</string>
	<key>[hatea]</key>
	<string>hatea_thumb.gif</string>
	<key>[hearta]</key>
	<string>hearta_thumb.gif</string>
	<key>[horse2]</key>
	<string>horse2_thumb.gif</string>
	<key>[hsa]</key>
	<string>hsa_thumb.gif</string>
	<key>[hufen]</key>
	<string>hufen_thumb.gif</string>
	<key>[j]</key>
	<string>j_thumb.gif</string>
	<key>[kl]</key>
	<string>kl_thumb.gif</string>
	<key>[laugh]</key>
	<string>laugh.gif</string>
	<key>[left]</key>
	<string>left_thumb.gif</string>
	<key>[m]</key>
	<string>m_thumb.gif</string>
	<key>[mb]</key>
	<string>mb_thumb.gif</string>
	<key>[money]</key>
	<string>money_thumb.gif</string>
	<key>[nm]</key>
	<string>nm_thumb.gif</string>
	<key>[no]</key>
	<string>no_thumb.gif</string>
	<key>[o]</key>
	<string>o_thumb.gif</string>
	<key>[ok]</key>
	<string>ok_thumb.gif</string>
	<key>[panda]</key>
	<string>panda_thumb.gif</string>
	<key>[pig]</key>
	<string>pig.gif</string>
	<key>[qq]</key>
	<string>qq_thumb.gif</string>
	<key>[rabbit]</key>
	<string>rabbit_thumb.gif</string>
	<key>[right]</key>
	<string>right_thumb.gif</string>
	<key>[sad]</key>
	<string>sad_thumb.gif</string>
	<key>[sada]</key>
	<string>sada_thumb.gif</string>
	<key>[sb]</key>
	<string>sb_thumb.gif</string>
	<key>[sdz]</key>
	<string>sdz_thumb.gif</string>
	<key>[shamea]</key>
	<string>shamea_thumb.gif</string>
	<key>[shoutao]</key>
	<string>shoutao_thumb.gif</string>
	<key>[sk]</key>
	<string>sk_thumb.gif</string>
	<key>[sw]</key>
	<string>sw_thumb.gif</string>
	<key>[t]</key>
	<string>t_thumb.gif</string>
	<key>[tootha]</key>
	<string>tootha_thumb.gif</string>
	<key>[totoyouai]</key>
	<string>totoyouai_thumb.gif</string>
	<key>[tza]</key>
	<string>tza_thumb.gif</string>
	<key>[unheart]</key>
	<string>unheart.gif</string>
	<key>[weijin]</key>
	<string>weijin_thumb.gif</string>
	<key>[wennuanmaozi]</key>
	<string>wennuanmaozi_thumb.gif</string>
	<key>[wg]</key>
	<string>wg_thumb.gif</string>
	<key>[wq]</key>
	<string>wq_thumb.gif</string>
	<key>[ws]</key>
	<string>ws_thumb.gif</string>
	<key>[ye]</key>
	<string>ye_thumb.gif</string>
	<key>[yhh]</key>
	<string>yhh_thumb.gif</string>
	<key>[yw]</key>
	<string>yw_thumb.gif</string>
	<key>[yx]</key>
	<string>yx_thumb.gif</string>
	<key>[z2]</key>
	<string>z2_thumb.gif</string>
	<key>[zhh]</key>
	<string>zhh_thumb.gif</string>
	<key>[zy]</key>
	<string>zy_thumb.gif</string>
	<key>[zz2]</key>
	<string>zz2_thumb.gif</string>
</dict>
</plist>
